venv/
*.idea

# Файлы, образующиеся в процессе и результате компиляции проекта:
target/
output/
release/
debug/

# Файлы, создаваемые при выполнении кода: журналы
*.log

# Временные файлы вашего текстового редактора или среды разработки:
*~

# Файлы, создаваемые операционной системой:
thumbs.db